form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;
}

form > * {
  background-color: white;
  box-shadow: 3px 3px 15px lightgray;
  border: none;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  width: 500px;
  padding: 10px;
  margin-top: 5px;

  border: 3px;
}

form button {
  background-color: rgb(53, 53, 53);
  color: whitesmoke;
  font-weight: 800;
  width: 100px;
  border-radius: 10px;
}

form button:hover {
  background-color: #2b1a1a;
  box-shadow: 3px 3px 1px lightcoral;
}

@media (max-width: 600px) {
  form > * {
    width: 85vw;
  }
}
